<div class="featuredprojects">
    <ul class="featuredprojects__list">
        {% for project in collections.projects | slice(0, 4) %}
        {%- set webmentionUrl -%}{{ project.url | url | absoluteUrl(site.url) }}{%- endset -%}
        {%- set likeCount = webmentions.children | webmentionCountByType(webmentionUrl, "like-of") -%}
        <li class="featuredprojects__item">
            <div class="featuredproject" style="{% if project.data.featuredImageColor %}background-color: {{ project.data.featuredImageColor }};{% endif %}">
                {% if project.data.featuredImage %}
                    {% set imgsrc %}/assets/images/featuredprojects/{{ project.data.featuredImage }}{% endset %}
                    <picture>
                        <source srcset="{{ imgsrc | setExt('avif') }}" type="image/avif">
                        <source srcset="{{ imgsrc | setExt('webp') }}" type="image/webp">
                        <source srcset="{{ imgsrc }}" type="image/jpeg">
                        <img src="{{ imgsrc }}" alt="" width="500" height="500" class="featuredproject__image" />
                    </picture>
                {% endif %}
                <div class="featuredproject__inner">
                    <a href="{{ project.url | url }}" class="featuredproject__link">
                        <span class="featuredproject__title">{% if project.data.featuredTitle %}{{ project.data.featuredTitle }}{% else %}{{ project.data.title }}{% endif %}</span>
                    </a>
                    <p class="featuredproject__description">
                        {% if project.data.description %}
                            {{ project.data.description }}
                        {% else %}
                            {{ project.templateContent | excerpt | striptags }}
                        {% endif %}
                    </p>
                    {#<span class="featuredproject__likecount" aria-label="{{ likeCount }} Likes">
                        {% icon "heart" %} {{ likeCount|humanizeNumber }}
                    </span>
                    #}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <p class="featuredprojects__footer">
        <a href="/research" class="featuredprojects__see-all">See more about my Research {% icon "arrow-right" %}</a>
    </p>
</div>