---
layout: base
eleventyNavigation:
  key: Home
  order: 1
permalink: /
---

<div class="hero fade-in">
    <div class="hero__inner">
        <h1 class="hero__title">Computational Quantum Physicist</h1>
        <p class="hero__pretitle"><a href="/about/">Hello, I'm Filippo Vicentini</a></p>

        <div class="hero__content">
            <p>
                I am a Professor in Artificial Intelligence and Condensed Matter Physics @ <a href="http://polytechnique.edu" class="hero__link hero__link--codista">Ecole Polytechnique</a>, in Paris. 
                <br class="hero__br" />
                My research investigates Machine-Learning inspired classical and quantum algorithms to tackle hard problems in Quantum Physics.
                My main contributions are the development of Neural-Network Quantum States for Out-Of-Equilibrium systems and <a href="https://www.netket.org" class="hero__link hero__link--codista">NetKet</a>, the Machine-Learning toolbox for Quantum Science.
                <!---
                I’m a front-end developer and co-founder of 
                <a href="https://www.codista.com" class="hero__link hero__link--codista">Codista</a>, 
                a software studio in Vienna. <br class="hero__br" />
                I also write about the web on my <a href="/blog" class="hero__link">Blog</a> 
                and on <a href="{{ author.social.twitter.url }}" class="hero__link hero__link--twitter">Twitter</a>. -->
            </p>
        </div>
    </div>
</div>

{% if collections.projects.length %}
<div class="u-mb4">
    <h2>Research and Software Projects</h2>
    {% include "featuredprojects.njk" %}
</div>
{% endif %}

{% if collections.featured.length %}
<div class="u-mb4">
    <h2>Featured Posts</h2>
    {% include "featuredposts.njk" %}
</div>
{% endif %}
